$clr-primary: red;
$clr-ligth: #f3f3f3;
$hvr-light: #4c9c9c;

$clr-gray: #ccc;
$clr-dark: #3a6767;

$brd-width: 2px;
$brd-width_x2: 4px;
$bdr-gray-fat: 2px solid $clr-gray;
$bdr-dark-fat: 2px solid $clr-dark;

$rds-medium: 10px;

$delay: 0.2s;
$curves: ease-in-out;


.container {
    margin-right: 62px;
    color: $clr-dark;

    .split {
        position: relative;
    }

    .option {
        font-size: 1.3rem;
        background: $clr-ligth;
        transition: 0.15s $curves;
        transition: all $delay $curves;
        cursor: pointer;

        .content {
            padding: 10px 20px;
            text-align: left;
        }

        .icon {
            padding-left: 20px;
            font-size: 23px;
        }

        &:hover {
            background: $hvr-light;
            color: $clr-ligth;
        }
    }

    .optionsContainer {
        // ___
        //    |
        // top right corner
        border-radius: $rds-medium;
        border: $bdr-dark-fat;
        overflow: hidden;

        &.top{
            min-width: 200px;
            .option{
                //justify-content: space-between;
            }
        }

        &.arrow{
            border-radius:  0 $rds-medium $rds-medium 0;
        }

        &.fold.top {
            // __________
            //|          |
            border-radius: $rds-medium 0 0 $rds-medium;
        }

        &.unfold.top {
            // |__________|
            border-radius: $rds-medium 0 0 0;
            border-bottom: $bdr-gray-fat;
        }

        &.unfold.bottom {
            //  __________
            // |          |
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-top: transparent;
            width: 100%;

            &:hover {
                $os: 20px;
                box-shadow: $os $os calc($os * 4) rgba($clr-dark, 0.1);
            }
        }

        .option {
            display: flex;
            align-items: center;
            border-bottom: $bdr-gray-fat;
            padding-bottom: 3px;

            &:hover {
                border-color: transparent;
            }

            &:last-child {
                border-bottom: transparent;
            }

        }
    }

    .listing{
        position: absolute;
        z-index: 100;
    }

    .arrow {
        position: absolute;
        top: 0;
        left: calc(100% - $brd-width);
        transition: $delay $curves;

        &:hover {
            background: $hvr-light;
            color: $clr-ligth;
        }

        .option {            
            .content {
                transition: 0.1s $curves;
            }

            .reversed {
                transform: rotate(-180deg);
            }
        }
    }

}