$clr-primary: red;
$clr-ligth: #f3f3f3;
$hvr-light: #4c9c9c;

$clr-gray: #ccc;
$clr-dark: #3a6767;

$brd-width: 2px;
$brd-width_x2: 4px;
$bdr-gray-fat: 2px solid $clr-gray;
$bdr-dark-fat: 2px solid $clr-dark;

$rds-medium: 10px;

$delay: 0.2s;
$curves: ease-in-out;


.container {
    margin-right: 62px;

    .split {
        position: relative;
        width: max-content;
    }

    .option {
        font-size: 1.3rem;
        transition: 0.15s $curves;
        box-sizing: border-box;

        .content {
            padding: 10px 20px;
            text-align: left;
        }

        .icon {
            padding-left: 20px;
            font-size: 23px;
            font-weight: bold;
        }

        &:hover {
            background: $hvr-light;
            color: $clr-ligth;
        }
    }

    .button {
        position: relative;
        display: flex;
        justify-content: center;
        width: max-content;
        box-sizing: border-box;
        overflow: hidden;

    }

    .buttonList {
        $os: 20px;
        border: $bdr-dark-fat;
        border-radius: $rds-medium;
        border-top-right-radius: 0;
        box-sizing: border-box;
        overflow: hidden;
        background: $clr-ligth;
        transform-origin: top;

        &.unfold.top {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: $bdr-gray-fat;
        }

        &.fold.bottom {
            opacity: 0;
            transform: scale(0);
            //transition: all $delay $curves;

        }

        &.unfold.bottom {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-top: $bdr-gray-fat;
            transform: scale(1);
            border-top: transparent;
            opacity: 1;

            &:hover {
                box-shadow: $os $os calc($os * 4) rgba($clr-dark, 0.1);
            }
        }

        .option {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: $bdr-gray-fat;
            transform-origin: left;
            padding-bottom: 3px;
            transition: all $delay $curves;
            

            &:hover {
                border-color: transparent;
            }

            &:last-child {
                border-bottom: transparent;
            }

        }

        .option.unfold {

            transition: all $delay $curves;
        }
    }

    .buttonListing{
        position: absolute;
        top: 52px;
    }

    .closed {
        border-left-color: transparent;
    }

    .buttonArrow {
        position: absolute;
        top: 0;
        left: calc(100% - $brd-width);
        height: 100%;
        border: $bdr-dark-fat;
        border-radius: 0 $rds-medium $rds-medium 0;
        background: $clr-ligth;
        display: flex;
        align-items: center;
        justify-items: center;
        box-sizing: border-box;
        transition: all $delay $curves;

        &:hover {
            background-color: $hvr-light;
        }

        .option {
            font-size: 1.3rem;
            transition: 0.15s $curves;
            box-sizing: border-box;
            transition: all $delay $curves;

            .content {
                transition: all $delay $curves;
                padding: 50px 20px;
            }

            .reversed {
                transition: all $delay $curves;
                transform: rotate(-180deg);
            }

            &:hover {
                background: $hvr-light;
                color: $clr-ligth;
            }
        }
    }

    .solo.arrow {
        //border-left-color: transparent;
        cursor: zoom-in;
    }

    .solo.list {
        border-bottom-right-radius: 0;
        cursor: col-resize;

        &:before {
            position: absolute;
            top: 0;
            height: 100%;
            border: $bdr-gray-fat;
        }
    }
}