$clr-1: #ec994b;
$clr-2: #15133c;
$clr-3: #4da538;
$clr-light: #fff;
$clr-dark: #111;


$font-size: 1.3rem;

.wrapper{
	$scale: 0;
	$tooltip-color: gray;
	$arrow-size: 10px;
	
	.formatter{
		color: red;
		&:hover {
			$scale: 1;
			background-color: green;
		}
	}
	
	.tooltip {
		$scale: 0;
		z-index: 100;
		position: absolute;
		top: -1rem;
		left: 50%;
		font-size: $font-size;
		transform: translateX(-50%) translateY(-100%) scale($scale);
		transform-origin: bottom center;
		transition: 100ms transform;;
	}
}



