@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&family=Roboto:wght@300&display=swap');

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  //font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;

  .sideblock {
    background-color: rgb(205, 212, 226);
    padding: 131px;
    height: 100vh;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(205, 212, 226);
    padding: 131px;
    height: 100vh;
    flex-wrap: nowrap;
    align-content: flex-start;

  }

  .item {
    position: relative;
    flex: 1;

    span {
      font-weight: 700;
    }
  }
}