.container {
display: flex;
flex-direction: column;
height: 100%;
margin: 2%;
.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #ddd;
  height: 10vh;
  align-items: center;
  opacity: 0.8;
}
.item {
  position: relative;
  flex: 1;
  span {
    font-weight: 700;
  }
}
}
